- provide(:title, t(:page_home))
.container
  .row
    .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.well.home-page-invitation
      - if user_signed_in?
        - if presence_characters(current_user.characters)
          = render 'characters/shared/character_block'
      .notice
        = render 'users/shared/error_messages'
      - if user_signed_in?
        ul.list-unstyled.text-center.home-page-invitation
          - if current_user.characters.count > 0
            li
              = link_to t(:appointments), "#", class: "class btn btn-lg btn-danger"
          - else
            li
              = link_to t('patient.create'),  new_character_path,  class: "class btn btn-lg btn-info"
          li
            = link_to t(:pfarmacy), "#", class: "class btn btn-lg btn-warning"
          li
            = link_to t(:contacts), contacts_path, class: "class btn btn-lg btn-success"
      - else
        ul.list-unstyled.text-center
          li
            = link_to t(:sign_in), new_user_session_path, class: "class btn btn-lg btn-success"
          li
            = link_to t(:sign_up), new_user_registration_path, class: "class btn btn-lg btn-info"
