<% flash.each do |msg_type, value| %>
  <div class="alert <%= bootstrap_class_for(msg_type) %>">
    <button type="button" href="#" data-dismiss="alert" class="close">×</button>
    <ul class="list-unstyled">
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
