<div class="container">
  <h1>New Contact</h1>
  
  <%= render '/contacts/shared/form' %>
  
  <hr>
  <%= link_to :back, :class => "btn", :title => t('back') do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
  <% end %>
  <br>
  <hr>
</div>