<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <%= debug(params) if Rails.env.development? %>
      </div>
      <div class="col-xs-4">
        <p class="notice text-success"><%= notice %></p>
        <!--<p class="alert"><%= alert %></p>-->
      </div>
    </div>
  </div>
</footer>